.nav-bar {
    /* border: solid black; */
}
.root-content {
    min-height: calc(100vh - 170px);
}
.side-bar{
    padding: 0 !important;
}
.main-content {
}
.right-side-bar {
}

.float-center{
    float: bottom;
    text-align: center;

}