.nav-bar {
    /* border: solid black; */
}
.root-content {
    height: 100%;
}
.side-bar{
    /* border: solid red; */
}
.main-content {
}
.right-side-bar {
}

.float-center{
    float: bottom;
    text-align: center;

}