.category-root{
    cursor: pointer;
    display: flex;
    /* width: 220px; */
    height: 250px;
    border: solid yellow;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* min-width: 220px; */
}
.category-root:hover {
    background-color: rgb(233, 232, 232);
}