.category-root{
    cursor: pointer;
    display: flex;
    /* width: 220px; */
    height: 250px;
    border: solid yellow;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* min-width: 220px; */
    position: relative; 
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: 250px 100%;
    background-repeat: no-repeat;
    min-width: 150px;
    max-width: 200px;
}
.category-name{
    position: relative;
}
.category-root:hover {
    background-color: rgb(233, 232, 232);
}