.footer-root{
    width: 100%;
    padding: 15px;
    background-color: rgb(2 113 220);
    justify-content: center;
    text-align: center;
    color: white;
}

.footer-link{
    color: white;
    min-width: 120px;
}

.footer-link:hover{
    color: rgb(204, 202, 202);
}